.day-seperator{
	height: 28px;
	background: rgb(114, 156, 219);
	padding-left: 15px;
	line-height: 28px;
	background: rgba(249, 99, 50, 0.35);
	color: #666;
	font-family: 'Kelly Slab', cursive;
	
	&:first-child{
		border-top-right-radius: 10px;
	}
}