@import 'list';

$bgColor: rgb(160, 140, 140);

.table-item{
	@include mixin-listitem-not-hover($bgColor);
	padding: 0px;
	line-height: 50px;


	.table-item-header{
		display: inline-block;
		width: 40px;
		text-align: center;
		
		&.property:hover{
			background: rgba(123, 68, 68, 0.35);
		}
	}

	.content{
		display: inline-block;
		height: 100%;
	}

	.date{
		width: 55px;
		background: rgba(123, 68, 49, 0.15);
		font-family: 'Kelly Slab', cursive;
		font-size: 11pt;
	}

	.date2{
		background: rgba(123, 68, 49, 0.25);
	}

	.border-left{
		border-left: 1px solid #ccc;
	}

	.border-right{
		border-right: 1px solid #ccc;
	}

	.float-right{
		float: right;
	}

	.task-progress-container{
		width: 80px;
		background: rgba(123, 68, 49, 0.1);
		height: 100%;
		text-align: left;
		padding-left: 10px;
	}

	&:first-child .task-progress-container{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&:last-child .task-progress-container{
		border-bottom-right-radius: 10px;
	}

	&.selected{
		.table-item-title{
			background: rgba($bgColor, 0.3);
		}
	}
}

.table-item-title{
	height: 50px;
	&:hover{
		background: rgba($bgColor, 0.3);
	}
}


.task-progress{
	height: 100%;
	.progress-elem{
		fill: rgba(172, 95, 70, 0.45);
		width: 5px;
		height: 30px;
	}
}