.modal-contents{
	position: relative;

	&.disabled{
		&:after{
			content: "";
		    position: absolute;
		    left: 0px;;
		    top: 0px;
		    width: 100%;
		    height: 100%;
			background-color: rgba(220, 220, 220, 0.5);
			cursor: not-allowed;
		}
	}
	
	.modal-contents{
		.modal-header{
			padding: 5px;
			padding-left: 15px;
		}
	}

}

@media (min-width: 992px){
	#actionview-contents, #activeview-contents{
		min-height: 300px;
	}
}

.modal-actionview{
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 5px;
}

#actionview-contents, #activeview-contents{
	.modal-header{
		padding-left: 0px;
	}
}
