.task-item{
	position: relative;
	padding: 10px;
	font-family: sans-serif;
	font-size: 15px;
	color: #777;

	height: 50px;
	line-height: 35px;

	padding-left: 70px;

	&:not(:last-child){
		border-bottom: solid 1px #d8d8d8;
	}

	.duedate{
		position: absolute;
		right: 25px;
		top: 10px;
		font-family: serif;
		font-size: 12px;
	}

	&:nth-child(2n+1){
		background: rgba(160, 140, 140, 0.1);
	}

	&:hover{
		background: rgba(160, 140, 140, 0.3);
	}
}
