.task {

}


textarea:focus, input:focus{
    outline: 0;
}

.task-name{
  width:100%;
  display:block;
  border:none;
}
.task-duedate{
  display:block;
}

.task-description{
  width:100%;
  display:block;
  border:none;
}
.task-due{
}
