textarea:focus, input:focus{
		outline: 0;
}

.task-name{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border: none;
}

.task-duedate{
	display: block;
}

.task-description{
	width:1 00%;
	display: block;
	border: none;
}

.task-log-elem{
	fill: #5763DD;
	
	&:hover{
		fill: #4F9ADD;
	}
}
