.task-banner{
	svg#task-banner-canvas{
		width: 100%;
		height: 100%;
	}
	background: #efefef;
	position: relative;
	height: 150px;

	.content{
		position: relative;
		padding: 12px 7px;
		height: 150px;
	}

	.content0{
		background: #ddd;
	}

	.content1{
		background: #d3d3d3;
		
		.duedate, .created, .buttons{
			display: none;
		}
	}

	.content2{
		background: #cbcbcb;

		.duedate, .created, .buttons{
			display: none;
		}
	}

	#foreign{
		clip-path : url(#cut-off-bottom);
	}

	.name{
		color: #9c623a;
		font-family: sans-serif;
		font-size: 20px;
		font-weight: 700;

		overflow: hidden;
		white-space: nowrap;
	}

	.duedate{
		color: #aaa;

		overflow: hidden;
		white-space: nowrap;
	}

	.buttons{
		margin-top: 30px;
	}

	.svg-left{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 50px;
	}

	.svg-middle{
		position: absolute;
		right: 0px;
		top: 10px;
		width: 100px;
	}

	.svg-right{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 50px;
	}

	.btn-arrow-left{
		transform: translate(25px, 75px);
	}

	.btn-arrow-right{
		transform: translate(25px, 75px);
	}

	.btn-play{
		transform: translate(20px, 25px);
		path{
			stroke: #EB8F71;
			stroke-width: 5;
			fill: none;
		}
	}
}