@import 'list';

.task-view-wrapper{
	width: 100%;
	margin-top: 20px;
  padding: 0px 10px;
}

.task-view{
  margin-left: auto;
  margin-right: auto;

  width: 100%;

}

.task-list-wrapper{
  position: relative;	
}

@media (min-width: 700px) {
  .task-view{
    width: 700px;
  }
}
 
 .task-list{
  @extend .list
 }