.timeline-bar-now{
	fill: rgba(118, 118, 118, 0.70);
}

.task-log-elem{
	fill: #FEE7DF;
	
	&:hover{
		fill: #FEB4B9;
	}
}

.task-log-elem-bottom{
	fill: #95bca7;
}

.timeline {
	.rep-time{
		fill: #ddd;
		font-size: 34;
		font-family: Arial;
	}
}

.rd3-areachart-xaxis{
	text{
		fill: #ddd;
	}

	pointer-events: none;
}
