.container{
	.sample-banner{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		padding: 30px;
		text-align: center;
		font-size: 30px;
	};
};

#main-timeline{
	margin-bottom: 0px;
}

.task-banner{
	margin-top: 0px;
}

body{
	background-image: url('main/background.jpg');
	background-size: cover;
	background-position: 50% 50%;


}

html { overflow-y: scroll; }

::-webkit-scrollbar { 
    display: none; 
}
