.top-bar{
	width: 100%;
	height: 30px;

	background: #f39779;
}

$main-timeline-bg-color: rgba(249, 99, 50, 0.8);

#main-timeline{
	background: $main-timeline-bg-color;

	.background{
		fill: none;
		pointer-events: visible;
	}
}